<div class="dtc-highlight-btns">
    {% assign links = linklists['dtc-highlight-buttons-1'].links %}
    <a href="{{ links[0].url }}" class="black-btn">{{ links[0].title }}</a>
    <a href="{{ links[1].url }}" class="white-btn">{{ links[1].title }}</a>
    <span class="bottom-span">Free Shipping $50+  •  Free & Easy Returns</span>
</div>
