<div class="alternate-1b">
    <div class="why-doctors">Why Doctors Recommend Bamboo Over Cotton:</div>
    <div class="table-doctor-recommendations">
        <div></div>
        <div class="table-border-right">
            <p class="text-center">Natural Bamboo</p>
        </div>
        <div class="align-content-center">
            <p class="text-center">Organic Cotton</p>
        </div>

        <div class="table-text-with-icon"><img loading="lazy" width="18" height="18"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/1_85b1d9e8-176a-49fb-a9c0-ece5351508ac.png?v=1648652857">
            <p>Softness on Skin</p>
        </div>
        <div class="table-border-right"><img class="plus-minus-icons" loading="lazy" width="24" height="24"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/table_plus.png?v=1648653080"></div>
        <div class="align-content-center"><img class="plus-minus-icons" loading="lazy" width="24" height="24"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/table_minus.png?v=1648653080"></div>

        <div class="table-text-with-icon"><img loading="lazy" width="18" height="18"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/2b.png?v=1648657786">
            <p>Eczema & Redness Relief</p>
        </div>
        <div class="table-border-right"><img class="plus-minus-icons" loading="lazy" width="24" height="24"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/table_plus.png?v=1648653080"></div>
        <div class="align-content-center"><img class="plus-minus-icons" loading="lazy" width="24" height="24"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/table_minus.png?v=1648653080"></div>

        <div class="table-text-with-icon"><img loading="lazy" width="18" height="18"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/3b.png?v=1648657786">
            <p>Hypoallergenic & Antibacterial</p>
        </div>
        <div class="table-border-right"><img class="plus-minus-icons" loading="lazy" width="24" height="24"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/table_plus.png?v=1648653080"></div>
        <div class="align-content-center"><img class="plus-minus-icons" loading="lazy" width="24" height="24"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/table_minus.png?v=1648653080"></div>

        <div class="table-text-with-icon"><img loading="lazy" width="18" height="18"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/4_ff71613b-cc40-483e-8699-22ab585a2227.png?v=1648652857">
            <p>Sustainable (Eco Friendly)</p>
        </div>
        <div class="table-border-right"><img class="plus-minus-icons" loading="lazy" width="24" height="24"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/table_plus.png?v=1648653080"></div>
        <div class="align-content-center"><img class="plus-minus-icons" loading="lazy" width="24" height="24"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/table_minus.png?v=1648653080"></div>

        <div class="table-text-with-icon"><img loading="lazy" width="18" height="18"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/5_d15758a7-d0a8-44da-95f3-8c3964dfe431.png?v=1648652857">
            <p>Breathable Fabric</p>
        </div>
        <div class="table-border-right"><img class="plus-minus-icons" loading="lazy" width="24" height="24"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/table_plus.png?v=1648653080"></div>
        <div class="align-content-center"><img class="plus-minus-icons" loading="lazy" width="24" height="24"
                src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/table_minus.png?v=1648653080"></div>

    </div>

</div>

<style>
    .why-doctors {
        font-weight: bold;
    }

    .alternate-1b {
        margin-top: 40px;
    }

    .table-doctor-recommendations {
        display: grid;
        grid-template-columns: 63% 18.5% 18.5%;
    }

    .table-doctor-recommendations div {
        border-bottom: 1px solid #E6E6E6;
        height: 47px;
    }

    .table-doctor-recommendations .table-border-right {
        border-right: 1px solid #E6E6E6;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .align-content-center {
        display: grid;
        align-items: center;
        justify-content: center;

    }

    .table-doctor-recommendations {
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .text-center {
        text-align: center;
    }

    .table-text-with-icon p {
        margin-bottom: 0;
    }

    .table-text-with-icon {
        display: grid;
        grid-template-columns: 25px minmax(min-content, max-content);
        align-items: center;
    }

    .plus-minus-icons {
        max-width: 24px;
    }
</style>