<div class="dtc-topmenu-variant">
    <div class="dtc-drawer__close">
      <button type="button" class="dtc-drawer__close-button js-drawer-close">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
          <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74" />
          </svg>
          <span class="icon__fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
          </button>
      </div>
      <div class="value-nav">
          <div class="value-step"><img src="{{ 'fabric_1_1.svg' | file_url }}">
          <p>Lasts 2-3x longer than cotton</p>
          </div>
          <div class="value-step-2"><img src="{{ 'star_1.svg' | file_url }}">
          <p>Loved by 50,000+ moms</p>
          </div>
      </div>
  </div>

  <style>
    .dtc-drawer__close {
  width: 1%;
  text-align: center;
}

.dtc-drawer__close {
    display: table-cell;
    vertical-align: middle
}


  </style>