<div class="variant-navigation-lbb-menu">
  <div class="variant-navigation-llb-2">
    <div><img src="{{ 'fabric_1_1.svg' | file_url }}">
      <p>Lasts 2-3x longer than cotton</p>
    </div>
    <div><img src="{{ 'star_1.svg' | file_url }}">
      <p>Loved by 50,000+ moms</p>
    </div>
    <div><img src="{{ 'delivery_1.svg' | file_url }}">
      <p>FREE shipping over $50</p>
    </div>
    <div><img src="{{ 'product-return_1.svg' | file_url }}">
      <p>Free and easy returns process</p>
    </div>
  </div>
</div>