<div class="dtc-reserved-product">
  <img src="https://cdn.shopify.com/s/files/1/0350/5061/9020/files/Group.svg?v=1665156685" loading="lazy" width="" height="">
  <span>High demand. Checkout before product is out of stock.</span>
</div>

<style>
  .dtc-reserved-product {
    display: none !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 5px;
    max-width: 100vw;
    max-height: 46px;
    background: #FFE0E9;
    border: 1px solid #FF006B;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .dtc-reserved-product > span {
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #000000;

  }
  #countdown {
    font-family: 'Helvetica neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }
  @media only screen and (max-width: 420px) {
    .dtc-reserved-product {
      margin-top: 0;
    }
  }
</style>