.dtc-original-img{
  display: block;
}

.dtc-img-slider-2{
  display: none;
}

.dtc-original-img .grid-product__image {
  opacity: 1!important;
}

.dtc-slider-collection{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.dtc-title-pdp {
  display: -webkit-box !important; ;
  -webkit-line-clamp: 2 !important; ;
  -webkit-box-orient: vertical  !important; ;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.dtc-slider-collection .grid-product__title{
  display: -webkit-box !important; ;
  -webkit-line-clamp: 2 !important; ;
  -webkit-box-orient: vertical  !important; ;
  overflow: hidden !important;
  text-overflow: ellipsis !important; 
}


@media (max-width:581px) {
  .dtc-original-img{
    display: none;
  }
  
  .dtc-img-slider-2 .slick-container {
    margin: 0 auto;
  }

  .dtc-img-slider-2 .slick-dots-container {
    width: 5.5rem;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0.625rem auto;
    height: 0.875rem;
    position: absolute;
    top: 145px;
    left: 25%;
  }

  .dtc-img-slider-2 .slick-dots-container > ul {
    padding: 0;
    display: flex;
    transition: all 0.25s;
    position: relative;
    margin: 0;
    list-style: none;
    transform: translateX(0);
    align-items: center;
    bottom: unset;
    height: 100%;
  }

  .dtc-img-slider-2 .slick-dots-container > ul li {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.25rem;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
  }

  .dtc-img-slider-2 .slick-dots-container > ul li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.3125rem;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
  }

  .less-than-5 .slick-dots{
    justify-content: center !important;
  }

  .dtc-img-slider-2 .slick-dots-container > ul li.slick-active {
    transform: scale(1.3);
    transform-origin: center;
    background: black;
  }

  .dtc-img-slider-2 .slick-dots li button:before {
    display: none;
  }


}

@media screen and (min-width: 581px) {
  .dtc-slider-collection{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (min-width: 969px) {
  .dtc-slider-collection{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .dtc-img-slider-2{
    display: none !important;
  }
}

