@media (max-width:767px){
    .small--hide-dtc{
      display: none;
    }
  
    .announcement-bar{
      display: none;
    }
  }
  
  @media (min-width:768px) {
    .medium-up--hide-dtc{
      display: none;
    }
  }
  
  @media (width:768px) {
  
    html, body{
      overflow-x: hidden;
    }

  .announcement-bar{
    display: block !important;
  }
  }