.grid__item__dtc{
    height:305px;
    border:1px solid #EDEDED;
    padding:0;
    width:100%;
    border-radius: 8px;
}
.grid__item{
    padding-left:0;
    top: 0 !important;
}
.grid{
    margin:0;
}
.grid__item__dtc img{
    height: 175px;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.dtc-grid-collection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
html .grid__item__dtc .image-wrap{
    height: 175px !important;
    padding-bottom:0 !important;
}
.dtc-product-reviews {
    align-items: center;
    display: flex;
    padding-left: 5px;
    position:relative;
    height: 28px;
}
html .grid__item__dtc .grid-product__meta{
    text-align:left;
    padding:0;
    padding:0 5px;
}
.grid__item__dtc .grid-product__title--body{
    font-size:14px;
    line-height:18px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.grid__item__dtc .quick-add-button , .grid__item__dtc .quick-add-single{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 34px;
    background: white;
    border-radius: 8px;
    border: 1px solid #000;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
}
.dtc-product-props{
    height:100%;
    background: #FFF8EE;
}
.dtc-value-props {
    height: 100%;
    background: #FFF8EE;
    width: 100%;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    max-height: 305px;
}
.dtc-prop-title{
    font-size:13px;
    font-weight:600;
}
.dtc-prop-description{
    font-size:12px;
}
.grid__item__dtc .grid-product__price{
    margin:0;
    margin-bottom: 3px;
}
.grid__item__dtc .grid-product__price span{
    font-weight:600;
}
html body .stamped-badge-caption[data-reviews][data-label][data-version="2"]>span{
    display:none !important;
}
html body.collection span.stamped-badge-caption{
    position:absolute;
    top:5px;
}
.grid__item__dtc .grid-product__tag{
    border-radius: 0px 8px 0px 0px;
}
.grid-product__secondary-image{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.dtc-value-props img {
    width:100%;
    max-width:40px;
}
.dtc-prop-title {
    margin:10px 0px;
}
.dtc-prop-description{
    max-width: 194px;
}
.grid__item__dtc .product-single__form{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    width: calc(100% - 10px);
}
.grid__item__dtc .quick-add-product .variant-wrapper{
    border-radius: 8px;
    height: 34px;
}
.grid__item__dtc .product-single__form select{
    height:34px;
    border-radius: 8px;
}
.shop_pay_value_prop {
    flex-direction: column-reverse 
}
.shop_pay_value_prop img{
    width:112px;
    max-width: 103px;
}
@media screen and (min-width: 581px) {
    .dtc-grid-collection{
        grid-template-columns: 1fr 1fr 1fr;
   }


}

@media screen and (max-width: 800px) {
.oke-sr-count{
    font-size: 12px;
}

.oke-sr-stars{
    margin-right: 5px !important;
}
.oke-stars-background > svg{
    height: 11px;
}

.oke-stars-foreground > svg{
    height: 11px;
}
}
@media screen and (min-width: 969px) {
    .dtc-grid-collection{
        grid-template-columns: 1fr 1fr 1fr 1fr;
   }
    .grid__item__dtc img{
        height:266px;
   }
    html .grid__item__dtc .image-wrap{
        height:266px !important;
   }
   .grid__item__dtc .grid-product__secondary-image{
        max-height:267px !important;
   }
    .grid__item__dtc{
        height: 420px;
       }
  
    #CollectionSection{
        padding-left:10px;
   }
    .dtc-value-props{
        max-height:266px;
        padding:30px;
   }
    .dtc-prop-title{
        font-size:15px;
   }
    .dtc-prop-title{
        font-size:14.6px;
        line-height: 18px;
   }
    .grid__item__dtc .grid-product__title--body{
        font-size:14px;
        height:20px;
        line-height:18px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        height:100% !important;
        overflow-wrap: anywhere !important;
   }
    .grid__item__dtc .grid-product__price{
        margin-top:6px;
        margin-bottom:6px;
   }
    .dtc-product-reviews{
        margin-top:5px;
   }

   .dtc-product-reviews {
    height: 28px;
}
}
