.hide-desktop {
  display: block;
}

.payment-options__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 15px 0;
}

.callout-popup_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callout-text svg {
  width: 16px;
  height: 16px;
}

.callout-popup_title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 12px;
}

.callout-popup a {
  text-decoration: underline;
}

.callout-popup_title {
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
}

.callout-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background: #0000002e;
}

.callout-overlay.show {
  display: block;
}

.callout-popup.show {
  height: 70vh;
  overflow-y: scroll;
  padding-top: 12px;
  padding-bottom: 12px;
}

.product__price {
  margin-right: 0;
}
.pinch-zoom__icon {
  opacity: 0;
  position: absolute; 
  z-index: 9999; 
  bottom: 12px; 
  right: 12px; 
  width: 35px; 
  height: 35px; 
  border-radius: 50%;
}

.pinch-zoom__icon-in {
  opacity: 1;
  transition: all 2s;
}

.pinch-zoom__icon-out {
  opacity: 0;
  transition: all 2s;
}

  .why-bamboo-desktop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 80px;
    gap: 30px;
}

.why-bamboo-desktop > h1{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    text-transform: none;
}


.why-bamboo-mobile{
    display: none;
}

.callout-popup {
  z-index: 999;
  background: white;
  height: 0;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  padding: 0 18px;
  -webkit-transition: height .3s ease-in-out;
  -o-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}

.callout-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.34px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #D12837;
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: auto;
  text-transform: uppercase;
  margin-left: 10px;
}

.final-sales{
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.34px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start !important;
  width: auto;
  text-transform: uppercase;
  margin-top: 3px;
  margin-left: 10px;
}

.payment-logo > svg {
  width: 70px;
  height: 18px;
}

.payment-options {
  margin: 0 !important;
}

.bamboo-text {
  color: #707070;
  margin: 0;
}

.product-single__print {
  text-transform: capitalize;
  text-decoration: underline;
  width: 20%;
}
.pre-title__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide-mobile{
  display:none;
}

.payment-options-2 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0px;
}

 html .pricing_container{
    margin-top:18px;
  }
@media (max-width:768px) {
  .hide-mobile{
    display:block;
  }
  .pre-title__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  html .pricing_container{
    margin-top:6px;
  }


  .why-bamboo-desktop{
      display: none;
  }

  .callout-text{
    font-size: 12px;
  margin-left: 6px;
  margin-top: 10px !important;
  }

  .final-sales{
    margin-top: 0px;
  }
  .why-bamboo-mobile{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-bottom: 40px;
      margin-top: 40px;
      gap: 30px;
  }

  .why-bamboo-mobile > h1{
      font-family: 'Futura';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      color: #000000;
      text-transform: none;
  }

  /* .slick-list.draggable {
    height: auto !important;
  } */
}