@media only screen and (max-width: 768px) {
    .grid__item {
        padding-left:17px
    }

    .small--grid--flush {
        margin-left:-2px
    }

    .page-width .small--grid--flush {
        margin-left: -19px;
        margin-right: -17px
    }

    .small--grid--flush>.grid__item {
        padding-left: 2px
    }

    .small--one-whole {
        width:100%
    }

    .small--one-half {
        width: 50%
    }

    .small--one-third {
        width: 33.33333%
    }

    .small--two-thirds {
        width: 66.66667%
    }

    .small--one-quarter {
        width: 25%
    }

    .small--two-quarters {
        width: 50%
    }

    .small--three-quarters {
        width: 75%
    }

    .small--one-fifth {
        width: 20%
    }

    .small--two-fifths {
        width: 40%
    }

    .small--three-fifths {
        width: 60%
    }

    .small--four-fifths {
        width: 80%
    }

    .small--one-sixth {
        width: 16.66667%
    }

    .small--two-sixths {
        width: 33.33333%
    }

    .small--three-sixths {
        width: 50%
    }

    .small--four-sixths {
        width: 66.66667%
    }

    .small--five-sixths {
        width: 83.33333%
    }

    .small--one-eighth {
        width: 12.5%
    }

    .small--two-eighths {
        width: 25%
    }

    .small--three-eighths {
        width: 37.5%
    }

    .small--four-eighths {
        width: 50%
    }

    .small--five-eighths {
        width: 62.5%
    }

    .small--six-eighths {
        width: 75%
    }

    .small--seven-eighths {
        width: 87.5%
    }

    .small--one-tenth {
        width: 10%
    }

    .small--two-tenths {
        width: 20%
    }

    .small--three-tenths {
        width: 30%
    }

    .small--four-tenths {
        width: 40%
    }

    .small--five-tenths {
        width: 50%
    }

    .small--six-tenths {
        width: 60%
    }

    .small--seven-tenths {
        width: 70%
    }

    .small--eight-tenths {
        width: 80%
    }

    .small--nine-tenths {
        width: 90%
    }

    .small--one-twelfth {
        width: 8.33333%
    }

    .small--two-twelfths {
        width: 16.66667%
    }

    .small--three-twelfths {
        width: 25%
    }

    .small--four-twelfths {
        width: 33.33333%
    }

    .small--five-twelfths {
        width: 41.66667%
    }

    .small--six-twelfths {
        width: 50%
    }

    .small--seven-twelfths {
        width: 58.33333%
    }

    .small--eight-twelfths {
        width: 66.66667%
    }

    .small--nine-twelfths {
        width: 75%
    }

    .small--ten-twelfths {
        width: 83.33333%
    }

    .small--eleven-twelfths {
        width: 91.66667%
    }

    .grid--uniform .small--one-half:nth-of-type(2n+1),.grid--uniform .small--one-third:nth-of-type(3n+1),.grid--uniform .small--one-quarter:nth-of-type(4n+1),.grid--uniform .small--one-fifth:nth-of-type(5n+1),.grid--uniform .small--one-sixth:nth-of-type(6n+1),.grid--uniform .small--two-sixths:nth-of-type(3n+1),.grid--uniform .small--three-sixths:nth-of-type(2n+1),.grid--uniform .small--one-eighth:nth-of-type(8n+1),.grid--uniform .small--two-eighths:nth-of-type(4n+1),.grid--uniform .small--four-eighths:nth-of-type(2n+1),.grid--uniform .small--five-tenths:nth-of-type(2n+1),.grid--uniform .small--one-twelfth:nth-of-type(12n+1),.grid--uniform .small--two-twelfths:nth-of-type(6n+1),.grid--uniform .small--three-twelfths:nth-of-type(4n+1),.grid--uniform .small--four-twelfths:nth-of-type(3n+1),.grid--uniform .small--six-twelfths:nth-of-type(2n+1) {
        clear: both
    }

    .small--show {
        display:block!important
    }

    .small--text-left {
        text-align: left!important
    }

    .small--text-right {
        text-align: right!important
    }

    .small--text-center {
        text-align: center!important
    }

    .flex-grid__item--mobile-second {
        -ms-flex-order:2;
        order: 2
    }

    .btn,.rte .btn,.shopify-payment-button .shopify-payment-button__button--unbranded,.product-reviews .spr-summary-actions a,.product-reviews .spr-button {
        padding:9px 17px;
        font-size:calc(var(--typeBaseSize) - 5px);
        font-size:max(calc(var(--typeBaseSize) - 5px), 11px);
    }

    .btn--small,.collapsibles-wrapper .spr-summary-actions a,.collapsibles-wrapper .spr-button {
        font-size:10px
    }

    .collapsible-trigger-btn {
        padding:15px 0
    }

    .drawer__title {
        padding-left:15px
    }

    .site-footer {
        text-align:center;
        overflow: hidden;
        padding-bottom: 0
    }

    .site-footer .grid__item {
        padding-bottom: 5px
    }

    .site-footer .grid__item:after {
        content: "";
        border-bottom: 1px solid black;
        opacity: .12;
        display: block
    }

    .site-footer .grid__item:first-child {
        padding-top: 7.5px
    }

    .site-footer .grid__item:last-child:after {
        display: none
    }

    .footer__title {
        text-align:center
    }

    .footer__collapsible {
        padding:0 0 15px
    }

    .footer_collapsible--disabled {
        padding-top:15px
    }

    .pagination .next,.pagination .prev {
        display:none
    }

    .pagination .next .icon,.pagination .prev .icon {
        width:12px;
        height: 12px
    }

    .header-item--left .site-nav {
        margin-left:-7.5px
    }

    .header-item--icons .site-nav {
        margin-right:-7.5px
    }

    .site-header__logo-link {
        margin:0 auto
    }

    .site-header__search .page-width {
        padding:0
    }

    .site-nav__link--icon {
        padding-left:7.5px;
        padding-right: 7.5px
    }

    .site-nav__link--icon+.site-nav__link--icon {
        margin-left: -4px
    }

    .collapsible-content--small {
        visibility:hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        opacity: 0;
        height: 0
    }

    .collapsible-content--small .collapsible-content__inner {
        transform: translateY(40px)
    }

    .collapsible-content--small .collapsible-content__inner--no-translate {
        transform: translateY(0)
    }

    .slick-prev {
        left:12px
    }

    [dir=rtl] .slick-prev {
        right: 12px
    }

    .slick-next {
        right:12px
    }

    [dir=rtl] .slick-next {
        left: 12px
    }

    .collection-filter {
        -ms-flex-wrap:wrap;
        flex-wrap: wrap;
        position: -webkit-sticky;
        position: sticky;
        top: 17px;
        z-index: 5
    }

    .sticky-header .collection-filter {
        top: 86px
    }

    .collection-filter select,.collection-filter .btn {
        height: 44px;
        font-size: 16px
    }
    
    .collection-filter select {
        display: block;
        width: 100%
    }
    
    .collection-filter .btn {
        padding: 0 20px
    }

    .collection-filter .btn {
        width:100%;
        text-align: left
    }

    .collection-filter__item--count {
        -ms-flex-order:3;
        order: 3;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%
    }

    .collection-grid__wrapper.unload:before,.collection-grid__wrapper.unload:after {
        top:150px
    }

    .grid-product__title {
        font-size:13px
    }

    .small--grid--flush .grid-product__meta {
        padding-left:10px;
        padding-right: 10px
    }

    .collapsibles-wrapper--border-bottom {
        margin-top: -3em!important
    }

    .cbb-frequently-bought-container {
        margin-top: -5em!important
    }

    .drawer__footer .ajaxcart__subtotal {
        font-size: 0.625rem;
    }
}