<div class="page-width page-content">

  {%- include 'breadcrumbs' -%}

	<div class="grid" style="margin-top: -40px;">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>

    </div>
  </div>

</div>
