
    
    <div
      id="replo-fullpage-element"
      data-runtime-version="e9133f52-2264-11ee-ac61-b6687697efae"
      style="display: block !important"
    >
      
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/a2f6a7bc-bd23-4fd6-b1a6-15550ae7b599/5b82beef-b6cf-4f0b-a431-cb4c42f1a0c6.min.js?v=e9133f52-2264-11ee-ac61-b6687697efae" id="https://replocdn.com/w/a2f6a7bc-bd23-4fd6-b1a6-15550ae7b599/5b82beef-b6cf-4f0b-a431-cb4c42f1a0c6.min.js?v=e9133f52-2264-11ee-ac61-b6687697efae"></script><style data-radium-styles="true">@media (max-width: 640px){ .rmq-49769b02{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-aa5fdf60{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-c1936f55{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-cc200de8{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-70d14338{width: auto !important;
align-self: stretch !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-5903e608{font-size: 32px !important;
max-width: 600px !important;
margin-top: 20px !important;
line-height: 40px !important;
margin-bottom: 15px !important;
width: auto !important;
align-self: stretch !important;
text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-44d277b0{font-size: 40px !important;
max-width: 600px !important;
margin-top: 20px !important;
line-height: 45px !important;
margin-bottom: 15px !important;
text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-bda74f88{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-9685c015{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-5b52500b{font-size: 16px !important;
max-width: 600px !important;
line-height: 27px !important;
margin-bottom: 50px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-b6480049{font-size: 16px !important;
max-width: 600px !important;
line-height: 27px !important;
margin-bottom: 50px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-73e28289{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-98eef734{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-bd273ba9{font-size: 24px !important;
line-height: 35px !important;
text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-336c5867{font-size: 28px !important;
line-height: 35px !important;
text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-91161e99{text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-a3cadd24{text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-84827348{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;
--rmw: auto !important;
--rmh: 200px !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-b16d34ff{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;
--rmw: 200px !important;
--rmh: 200px !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-4b43ceea{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;
--rmw: 200px !important;
--rmh: 200px !important;}}
@media (min-width: 1025px){ .rmq-fececc77{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;
--rmw: 200px !important;
--rmh: 200px !important;}}
@media (max-width: 640px){ .rmq-5bbeff3e{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 70px !important;
column-gap: 70px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-a7a26edc{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 70px !important;
column-gap: 70px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-43b39c69{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 70px !important;
column-gap: 70px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-546f49d4{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 70px !important;
column-gap: 70px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-38324207{width: auto !important;
height: auto !important;
flex-grow: unset !important;
align-self: auto !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-ee191701{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-1f47714{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-4a86ea09{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-2814ab61{font-size: 16px !important;
text-align: left !important;
line-height: 27px !important;
text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-3f72b9a3{font-size: 16px !important;
text-align: left !important;
line-height: 27px !important;
text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-9aec60ff{display: flex !important;
margin-bottom: 40px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-d606f39c{display: flex !important;
margin-bottom: 50px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-2d8d9f57{font-size: 36px !important;
line-height: 38px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-a125f677{font-size: 28px !important;
line-height: 35px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-bc85cb3d{font-size: 20px !important;
line-height: 35px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-c2bd6afe{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 4px !important;
column-gap: 4px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-d1632c1c{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 4px !important;
column-gap: 4px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-31a1a7a9{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 4px !important;
column-gap: 4px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-dc3c3a94{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 4px !important;
column-gap: 4px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-7d750a43{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-46a38ffe{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 2px !important;
column-gap: 2px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-80b7b11c{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 2px !important;
column-gap: 2px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-cb86cca9{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 2px !important;
column-gap: 2px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-dce6ff94{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 2px !important;
column-gap: 2px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-c1a45861{font-size: 16px !important;
text-align: center !important;
line-height: 27px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-fb47263a{display: flex !important;
flex-direction: column !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-df9f9abc{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-34e58409{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-3ac5a8b4{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-9a810c09{flex-grow: 1 !important;
flex-basis: auto !important;
flex-shrink: 1 !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-a8b2cf01{flex-shrink: 1 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-fc52f14{flex-shrink: 1 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-29c6a209{flex-shrink: 1 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-44a7cdfe{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 8px !important;
column-gap: 8px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-25062f1c{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 8px !important;
column-gap: 8px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-f9a50aa9{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 8px !important;
column-gap: 8px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-9b72fd94{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 8px !important;
column-gap: 8px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-1fbd8556{width: 18px !important;
height: 18px !important;
flex-grow: unset !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
--rsw: 100% !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-969c156{flex-shrink: 0 !important;
flex-basis: auto !important;
width: 22px !important;
height: 22px !important;
--rsw: 100% !important;}}
@media (max-width: 640px){ .rmq-782c8439{border-top-left-radius: 50px !important;
border-top-right-radius: 50px !important;
border-bottom-left-radius: 50px !important;
border-bottom-right-radius: 50px !important;
overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-9788d9db{overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-e3e5ac0e{overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-efd51653{overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-4d3351a4{text-align: center !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-9bb6c93c{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-e0d6f3e6{display: flex !important;
width: auto !important;
height: auto !important;
flex-grow: unset !important;
align-self: auto !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-dd0ea640{display: flex !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}</style><div data-radium="true"><style id="snippet-styles" type="text/css">.alchemy-reset :host{all:initial}.alchemy-reset *{box-sizing:border-box}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset a:visited[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset del[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset em[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset s[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset strong[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset b[data-rid],.alchemy-reset u[data-rid],.alchemy-reset i[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{letter-spacing:inherit;margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset html[data-rid]::-webkit-scrollbar,.alchemy-reset body[data-rid]::-webkit-scrollbar,.alchemy-reset div[data-rid]::-webkit-scrollbar,.alchemy-reset span[data-rid]::-webkit-scrollbar,.alchemy-reset applet[data-rid]::-webkit-scrollbar,.alchemy-reset object[data-rid]::-webkit-scrollbar,.alchemy-reset iframe[data-rid]::-webkit-scrollbar,.alchemy-reset h1[data-rid]::-webkit-scrollbar,.alchemy-reset h2[data-rid]::-webkit-scrollbar,.alchemy-reset h3[data-rid]::-webkit-scrollbar,.alchemy-reset h4[data-rid]::-webkit-scrollbar,.alchemy-reset h5[data-rid]::-webkit-scrollbar,.alchemy-reset h6[data-rid]::-webkit-scrollbar,.alchemy-reset p[data-rid]::-webkit-scrollbar,.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,.alchemy-reset pre[data-rid]::-webkit-scrollbar,.alchemy-reset a[data-rid]::-webkit-scrollbar,.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,.alchemy-reset abbr[data-rid]::-webkit-scrollbar,.alchemy-reset acronym[data-rid]::-webkit-scrollbar,.alchemy-reset address[data-rid]::-webkit-scrollbar,.alchemy-reset big[data-rid]::-webkit-scrollbar,.alchemy-reset cite[data-rid]::-webkit-scrollbar,.alchemy-reset code[data-rid]::-webkit-scrollbar,.alchemy-reset del[data-rid]::-webkit-scrollbar,.alchemy-reset dfn[data-rid]::-webkit-scrollbar,.alchemy-reset em[data-rid]::-webkit-scrollbar,.alchemy-reset img[data-rid]::-webkit-scrollbar,.alchemy-reset picture[data-rid]::-webkit-scrollbar,.alchemy-reset ins[data-rid]::-webkit-scrollbar,.alchemy-reset kbd[data-rid]::-webkit-scrollbar,.alchemy-reset q[data-rid]::-webkit-scrollbar,.alchemy-reset s[data-rid]::-webkit-scrollbar,.alchemy-reset samp[data-rid]::-webkit-scrollbar,.alchemy-reset small[data-rid]::-webkit-scrollbar,.alchemy-reset strike[data-rid]::-webkit-scrollbar,.alchemy-reset strong[data-rid]::-webkit-scrollbar,.alchemy-reset sub[data-rid]::-webkit-scrollbar,.alchemy-reset sup[data-rid]::-webkit-scrollbar,.alchemy-reset tt[data-rid]::-webkit-scrollbar,.alchemy-reset var[data-rid]::-webkit-scrollbar,.alchemy-reset b[data-rid]::-webkit-scrollbar,.alchemy-reset u[data-rid]::-webkit-scrollbar,.alchemy-reset i[data-rid]::-webkit-scrollbar,.alchemy-reset center[data-rid]::-webkit-scrollbar,.alchemy-reset dl[data-rid]::-webkit-scrollbar,.alchemy-reset dt[data-rid]::-webkit-scrollbar,.alchemy-reset dd[data-rid]::-webkit-scrollbar,.alchemy-reset ol[data-rid]::-webkit-scrollbar,.alchemy-reset ul[data-rid]::-webkit-scrollbar,.alchemy-reset li[data-rid]::-webkit-scrollbar,.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,.alchemy-reset form[data-rid]::-webkit-scrollbar,.alchemy-reset label[data-rid]::-webkit-scrollbar,.alchemy-reset legend[data-rid]::-webkit-scrollbar,.alchemy-reset table[data-rid]::-webkit-scrollbar,.alchemy-reset caption[data-rid]::-webkit-scrollbar,.alchemy-reset tbody[data-rid]::-webkit-scrollbar,.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,.alchemy-reset thead[data-rid]::-webkit-scrollbar,.alchemy-reset tr[data-rid]::-webkit-scrollbar,.alchemy-reset th[data-rid]::-webkit-scrollbar,.alchemy-reset td[data-rid]::-webkit-scrollbar,.alchemy-reset article[data-rid]::-webkit-scrollbar,.alchemy-reset aside[data-rid]::-webkit-scrollbar,.alchemy-reset canvas[data-rid]::-webkit-scrollbar,.alchemy-reset details[data-rid]::-webkit-scrollbar,.alchemy-reset embed[data-rid]::-webkit-scrollbar,.alchemy-reset figure[data-rid]::-webkit-scrollbar,.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,.alchemy-reset footer[data-rid]::-webkit-scrollbar,.alchemy-reset header[data-rid]::-webkit-scrollbar,.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,.alchemy-reset menu[data-rid]::-webkit-scrollbar,.alchemy-reset nav[data-rid]::-webkit-scrollbar,.alchemy-reset output[data-rid]::-webkit-scrollbar,.alchemy-reset ruby[data-rid]::-webkit-scrollbar,.alchemy-reset section[data-rid]::-webkit-scrollbar,.alchemy-reset summary[data-rid]::-webkit-scrollbar,.alchemy-reset time[data-rid]::-webkit-scrollbar,.alchemy-reset mark[data-rid]::-webkit-scrollbar,.alchemy-reset audio[data-rid]::-webkit-scrollbar,.alchemy-reset video[data-rid]::-webkit-scrollbar,.alchemy-reset button[data-rid]::-webkit-scrollbar,.alchemy-reset select[data-rid]::-webkit-scrollbar,.alchemy-reset [data-rid]>p::-webkit-scrollbar{display:none}.alchemy-reset button[data-rid]{align-items:normal}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{font-style:inherit;text-decoration:inherit;color:inherit;background-color:transparent}.alchemy-reset .alchemy-rte a,.alchemy-reset .alchemy-rte p,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte h1,.alchemy-reset .alchemy-rte h2,.alchemy-reset .alchemy-rte h3,.alchemy-reset .alchemy-rte mark{font-style:inherit;font-family:inherit;text-decoration:inherit;text-align:inherit;text-transform:inherit;color:inherit;line-height:inherit;letter-spacing:inherit;margin:0;padding:0;border:0;font-weight:inherit;vertical-align:baseline;font-size:100%;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset .alchemy-rte a::-webkit-scrollbar,.alchemy-reset .alchemy-rte p::-webkit-scrollbar,.alchemy-reset .alchemy-rte s::-webkit-scrollbar,.alchemy-reset .alchemy-rte u::-webkit-scrollbar,.alchemy-reset .alchemy-rte b::-webkit-scrollbar,.alchemy-reset .alchemy-rte i::-webkit-scrollbar,.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,.alchemy-reset .alchemy-rte mark::-webkit-scrollbar{display:none}.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte strong,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte em,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del,.alchemy-reset .alchemy-rte li,.alchemy-reset .alchemy-rte span{font-family:inherit}.alchemy-reset .alchemy-rte u{text-decoration:underline}.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del{text-decoration:line-through}.alchemy-reset .alchemy-rte i{font-style:italic}.alchemy-reset .alchemy-rte b{font-weight:700}.alchemy-reset .alchemy-rte ul,.alchemy-reset .alchemy-rte li{list-style:inherit;padding-left:1.7em}.alchemy-reset .alchemy-rte code{background-color:#6161611a;color:#616161}.alchemy-reset .alchemy-rte pre{background:#0d0d0d;color:#fff;font-family:JetBrainsMono,monospace;padding:.75rem 1rem;border-radius:.5rem}.alchemy-reset .alchemy-rte pre code{color:inherit;padding:0;background:none;font-size:.8rem}.alchemy-reset .alchemy-rte img{max-width:100%;height:auto}.alchemy-reset .alchemy-rte blockquote{padding-left:1rem;border-left:2px solid rgba(13,13,13,.1)}.alchemy-reset .alchemy-rte hr{border:none;border-top:2px solid rgba(13,13,13,.1);margin:2rem 0}.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset details[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset section[data-rid]{display:block}.alchemy-reset body{line-height:1}.alchemy-reset blockquote,.alchemy-reset q{quotes:none;margin:0;padding:0;border:0}.alchemy-reset blockquote:before,.alchemy-reset blockquote:after,.alchemy-reset q:before,.alchemy-reset q:after{content:"";content:none}.alchemy-reset table{border-collapse:collapse;border-spacing:0}.alchemy-reset button>picture,.alchemy-reset button>img,.alchemy-reset a>picture,.alchemy-reset a>img{display:flex}#replo-fullpage-element{max-width:100vw;flex-grow:1;align-self:stretch}.outline--blue{outline:2px solid #2563eb}.strike:after{content:"";border-bottom:3px solid black;position:absolute;left:0;top:calc(50% - 3px);width:100%}.ReactModal__Overlay--after-open{opacity:1;transform:translateY(0)}.ReactModal__Overlay--before-close{opacity:0;transform:translateY(100px)}.replo-modal-after-open{overflow-y:hidden!important}.carouselV3--slide-reset{max-width:none!important}.carouselV3-no-transition{transition:none}.carouselV3-fade-transition{transition:opacity 1s}.carouselV3-hidden-slide{transition:opacity 1s;opacity:0}.carouselV3-visible-slide{transition:opacity 1s;opacity:1}.splide li{padding:0!important;margin:0}.splide li:before{display:none!important}.splide .splide__list{overflow:visible!important}@keyframes alchemy-marquee-left{0%{transform:translate(0)}to{transform:translate(calc(-100% / var(--replo-marquee-repetitions, 20)))}}@keyframes alchemy-marquee-right{0%{transform:translate(-50%)}to{transform:translate(calc(-50% + 100% / var(--replo-marquee-repetitions, 20)))}}@keyframes alchemy-fade{0%{opacity:var(--initial-opacity)}to{opacity:var(--final-opacity)}}@keyframes alchemy-slide-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes alchemy-slide-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset))}to{opacity:var(--final-opacity);transform:translate(0)}}@keyframes alchemy-flip-y{0%{opacity:var(--initial-opacity);transform:rotateY(var(--angle))}to{opacity:var(--final-opacity);transform:rotateY(0)}}@keyframes alchemy-flip-x{0%{opacity:var(--initial-opacity);transform:rotateX(var(--angle))}to{opacity:var(--final-opacity);transform:rotateX(0)}}@keyframes alchemy-grow{0%{opacity:var(--initial-opacity);transform:scale(var(--initial-scale))}to{opacity:var(--final-opacity);transform:scale(var(--final-scale))}}@keyframes alchemy-spin{0%{opacity:var(--initial-opacity);transform:rotate(var(--initial-angle))}to{opacity:var(--final-opacity);transform:rotate(var(--final-angle))}}@keyframes alchemy-fly-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translateY(0) scale(1)}}@keyframes alchemy-fly-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translate(0) scale(1)}}@keyframes alchemy-drop{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes replo-spin{to{transform:rotate(360deg)}}.replo-animate-spinner{animation:replo-spin 1s linear infinite}[data-replo-collapsible] .replo-animated{overflow:hidden}[data-replo-collapsible] .replo-animated[data-state=open]{animation:slideDown .2s cubic-bezier(.4,0,.2,1)}[data-replo-collapsible] .replo-animated[data-state=closed]{animation:slideUp .2s cubic-bezier(.4,0,.2,1)}@keyframes slideDown{0%{height:0}to{height:var(--radix-collapsible-content-height)}}@keyframes slideUp{0%{height:var(--radix-collapsible-content-height)}to{height:0}}
</style><style id="alchemy-runtime-css">
    html,
    body {
      zoom: unset !important;
    }

    body {
      overflow-y: visible !important;
    }
      main, #main {
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;
        max-height: none !important;
      }
     </style><style>
  header, #shopify-section-header, #shopify-section-header-classic, .main_nav, .main-nav, .navbar, #mobile-header-sticky-wrapper, .nav, .header-wrapper, [data-site-header], #shopify-section-static-header, #header { display: none !important }
  .main-content { padding-top: 0 !important; margin-top: 0 !important }
</style><style>
  footer:not(cart-drawer footer), #shopify-section-footer, #shopify-section-banner-image, .footer-section, #shopify-section-new-footer, #shopify-section-layout-footer, [id^="shopify-section-footer"], #footer { display: none !important; }
  .main-content { padding-bottom: 0 !important; margin-bottom: 0 !important; }
</style><div class="alchemy__element alchemy-reset"><div data-rid="926b2686-220f-4664-a4db-a4a73a5ba449" data-replo-repeated-index=".0" style="display:flex;align-self:stretch;align-items:center;padding-top:11px;padding-left:32px;padding-right:32px;flex-direction:column;padding-bottom:96px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="f2f91f13-f4df-49ac-a9c9-f90fd72b767e" data-replo-repeated-index=".0.0" style="display:flex;max-width:820px;align-self:center;align-items:center;flex-direction:column;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-70d14338 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="4708d313-426e-47d1-a38e-12aba69a1424" data-replo-repeated-index=".0.0.0" class="rmq-5903e608 rmq-44d277b0 rmq-bda74f88 rmq-9685c015 alchemy-rte" style="color:#000000FF;flex-grow:1;font-size:52px;text-align:center;font-weight:700;line-height:60px;margin-bottom:20px;letter-spacing:-0.6px;text-align-last:center;flex-shrink:1;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>5 Reasons why Moms are switching to Bamboo 🎉</p></span></div><div data-rid="ddf45f8f-303c-476e-bda8-42c7d4c94632" data-replo-repeated-index=".0.0.0" class="rmq-5b52500b rmq-b6480049 rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#000000;font-size:18px;text-align:center;font-weight:400;line-height:30px;margin-bottom:64px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>"Baby bamboo clothing is taking over, and Bums &amp; Roses is leading the way." - People Magazine<br></p><p></p></span></div><div data-rid="ed249bd9-ec79-4084-a7a9-2d8fc3e99c1c" data-replo-repeated-index=".0.0.0" class="rmq-bd273ba9 rmq-336c5867 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:32px;text-align:left;font-weight:800;line-height:40px;letter-spacing:-0.6px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>1. Grows with your Child</p></span></div><div data-rid="d1ddfb76-57ef-44fc-a433-e04858bcf1e2" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;margin-bottom:-150px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:200px;--rmh:200px" class="rmq-84827348 rmq-b16d34ff rmq-4b43ceea rmq-fececc77" data-radium="true"></div><div data-rid="f23b97cd-654b-4d6f-8980-b54e45bce524" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:70px;column-gap:70px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-5bbeff3e rmq-a7a26edc rmq-43b39c69 rmq-546f49d4" data-radium="true"><div data-rid="59cf7e0a-9bb3-488e-9295-4087df8a112f" data-replo-repeated-index=".0.0.0.0" style="width:540px;height:540px;flex-shrink:0;flex-basis:auto" class="rmq-38324207 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><video width="100%" playsinline autoplay muted loop poster="https://d9hhrg4mnvzow.cloudfront.net/try.bumsandroses.com/footie/eaa73dc4-feelin-pine-1-compressed_10eq0eq000000000000000.jpg">
<source src="https://res.cloudinary.com/dapsfpa6o/video/upload/v1672434976/Studio_Project_rdbexn.mp4" type="video/mp4">
</video></div><div data-rid="083183a7-628b-4b8a-9cdb-aef843761a5b" data-replo-repeated-index=".0.0.0.0" class="rmq-2814ab61 rmq-3f72b9a3 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000;font-size:18px;text-align:left;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p><em><span style="color: rgb(56, 65, 67)">so when Adi was about 18 months I had her in the Bums and Roses space romper.....almost 10 months ago and SHE STILL FIT IN IT. Best part is, she is now almost 2 years old like I mentioned and still fits in it and I mean like </span></em><strong><em><span style="color: rgb(56, 65, 67)">comfortably</span></em></strong><em><span style="color: rgb(56, 65, 67)"> fits in it."</span></em><br><em><span style="color: rgb(56, 65, 67)">- Ewelina D</span></em><br><br>Also, unlike other materials, Bamboo clothes are extremely breathable so your baby won’t get sweaty in them. And natural bamboo is doctor recommended to help little ones with eczema &amp; redness relief, even the best organic cotton feels like sandpaper when rubbed next to bamboo.  <br></p></span></div><div data-rid="28845dec-bcc6-4020-8d93-9095048209bc" data-replo-repeated-index=".0.0.0.0" class="rmq-bd273ba9 rmq-336c5867 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:32px;text-align:left;font-weight:800;line-height:40px;letter-spacing:-0.6px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>2.  <strong><span style="color: rgb(0, 0, 0)">Bamboo Clothing Lasts 3X Longer</span></strong></p></span></div><div data-rid="048b1189-f294-4ba6-ab71-15e47d0d1efd" data-replo-repeated-index=".0.0.0.0" style="width:540px;height:540px;flex-shrink:0;flex-basis:auto" class="rmq-38324207 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><video width="100%" playsinline autoplay muted loop poster="https://d9hhrg4mnvzow.cloudfront.net/try.bumsandroses.com/footie/eaa73dc4-feelin-pine-1-compressed_10eq0eq000000000000000.jpg">
<source src="https://res.cloudinary.com/dapsfpa6o/video/upload/v1673282856/BR1_1_1_peyogl.mp4" type="video/mp4">
</video></div><div data-rid="41564593-f7fa-498e-ada7-6d87f8f034f9" data-replo-repeated-index=".0.0.0.0" class="rmq-2814ab61 rmq-3f72b9a3 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000;font-size:18px;text-align:left;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Most babies grow out of their clothes every few weeks, right? Because bamboo is so much stronger and durable than cotton, you get more life out of each piece.&nbsp; Bamboo being stretchy is an understatement. </p><p><br></p><p>&nbsp;"The material is so soft and comfy that it made us become addicted to buying from this website.&nbsp;<span style="color: inherit">Cannot wait for the restock because I regret not getting size ups when I originally purchased"-&nbsp; Michelle J.&nbsp;</span></p><p><br></p><p>&nbsp;"My 1 year old is STILL wearing the 3-6 month footie we bought!! Switching to bamboo has actually saved us money" - Krista G.<br></p></span></div><div data-rid="91dc4b67-5854-4169-8c93-bf6db7b80569" data-replo-repeated-index=".0.0.0.0" class="rmq-bd273ba9 rmq-336c5867 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:32px;text-align:left;font-weight:800;line-height:40px;letter-spacing:-0.6px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>3. Helps your Baby Sleep</p></span></div><div data-rid="0f6adc0c-1b7d-49a7-90aa-1ef701fe38de" data-replo-repeated-index=".0.0.0.0" style="width:540px;height:540px;flex-shrink:0;flex-basis:auto" class="rmq-38324207 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><video width="100%" playsinline autoplay muted loop poster="https://d9hhrg4mnvzow.cloudfront.net/try.bumsandroses.com/footie/eaa73dc4-feelin-pine-1-compressed_10eq0eq000000000000000.jpg">
<source src="https://res.cloudinary.com/dapsfpa6o/video/upload/v1673282838/BR4_1_yopi4h.mp4" type="video/mp4">
</video></div><div data-rid="19c78f91-ae36-4d7a-8ea4-ce76ccf3ee6a" data-replo-repeated-index=".0.0.0.0" class="rmq-2814ab61 rmq-3f72b9a3 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000;font-size:18px;text-align:left;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Bamboo baby clothes are seriously soft and gentle, and they glide smoothly against your baby's sensitive skin, giving them a comfortable and irritation-free sleep experience. <br><br>But they're not just comfortable - they're also super absorbent and able to soak up moisture faster than even the finest organic cotton. This means your baby's skin will stay cooler and drier longer, helping to prevent sweating and discomfort at night.</p><p><br>And the best part? Bamboo is a thermoregulating fabric, which means it can help regulate your baby's body temperature to keep them comfortable in any weather. <br><br>This is especially helpful for babies and kids, who tend to get really warm during deep sleep. So if you want your little one to sleep comfortably and well-rested all night long, give bamboo baby clothes a try - you won't be disappointed!</p></span></div><div data-rid="6503b3c1-850e-4f62-9296-8082eb602c95" data-replo-repeated-index=".0.0.0.0" class="rmq-bd273ba9 rmq-336c5867 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:32px;text-align:left;font-weight:800;line-height:40px;letter-spacing:-0.6px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>4. Resale Value Insanity</p><p></p></span></div><div data-rid="d2909cf9-8d50-4ac2-aee6-1892c1e201d5" data-replo-repeated-index=".0.0.0.0" style="width:540px;height:540px;flex-shrink:0;flex-basis:auto" class="rmq-38324207 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><video width="100%" playsinline autoplay muted loop poster="https://d9hhrg4mnvzow.cloudfront.net/try.bumsandroses.com/footie/eaa73dc4-feelin-pine-1-compressed_10eq0eq000000000000000.jpg">
<source src="https://res.cloudinary.com/dpoos2lb5/video/upload/v1671619803/BR2_1_fpa92b.mp4" type="video/mp4">
</video></div><div data-rid="c031e654-1531-4e26-87a9-a2f05ee4f00c" data-replo-repeated-index=".0.0.0.0" class="rmq-2814ab61 rmq-3f72b9a3 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000;font-size:18px;text-align:left;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Good luck trying to find someone who will buy your old washed-off clothes from Carter’s your kid grew out of after a few weeks.&nbsp;</p><p><br></p><p>Let's be honest, most baby clothing ends up in the donation bin.

But, bamboo clothes can look just as good as new! And due to the limited edition prints you can pretty much resell them easily.</p></span></div><div data-rid="e55a0f34-e838-4acf-bce2-4f92883b6c18" data-replo-repeated-index=".0.0.0.0" class="rmq-bd273ba9 rmq-336c5867 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:32px;text-align:left;font-weight:800;line-height:40px;letter-spacing:-0.6px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>5.&nbsp;Unbelievably cute prints for both you and little one 😍</p><p></p></span></div><div data-rid="5f178bfc-fc70-4daf-9d9e-df59cc9af136" data-replo-repeated-index=".0.0.0.0" style="width:540px;height:540px;flex-shrink:0;flex-basis:auto" class="rmq-38324207 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><video width="100%" playsinline autoplay muted loop poster="https://d9hhrg4mnvzow.cloudfront.net/try.bumsandroses.com/footie/eaa73dc4-feelin-pine-1-compressed_10eq0eq000000000000000.jpg">
<source src="https://res.cloudinary.com/dapsfpa6o/video/upload/v1673282827/BR5_2_chce60.mp4" type="video/mp4">
</video></div><div data-rid="d173cd05-1ed1-4889-a087-e2cca2508a86" data-replo-repeated-index=".0.0.0.0" class="rmq-2814ab61 rmq-3f72b9a3 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000;font-size:18px;text-align:left;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>You've probably noticed by now - these prints are absolutely adorable.&nbsp;</p><p><br></p><p>Not only is our material buttery soft, good for babies skin, and ultra-stretchy, but you'll never have to compromise on cuteness.&nbsp;</p><p><br></p><p>Shop now and feel the difference yourself.<br></p><p></p></span></div><div data-rid="7756b368-8bd5-4b72-a348-58e3be4784df" data-replo-repeated-index=".0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:32px;padding-left:10px;padding-right:10px;flex-direction:column;padding-bottom:32px;border-top-color:#000000FF;border-top-style:dashed;border-top-width:4px;justify-content:center;background-color:#FFF6E7;border-left-color:#000000FF;border-left-style:dashed;border-left-width:4px;border-right-color:#000000FF;border-right-style:dashed;border-right-width:4px;border-bottom-color:#000000FF;border-bottom-style:dashed;border-bottom-width:4px;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-9aec60ff rmq-d606f39c rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="f0de1943-edaf-4129-9dbd-c6e4377bd40c" data-replo-repeated-index=".0.0.0.0.0" class="rmq-2d8d9f57 rmq-a125f677 rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#000000FF;font-size:48px;max-width:100%;text-align:center;font-weight:800;line-height:57px;margin-bottom:16px;letter-spacing:-0.6px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>GET A FREE BAMBOO ITEM</p></span></div><div data-rid="fb1818f5-ddee-43d7-acd2-a72074dda975" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="2afd9d79-6373-467f-913c-d8b743c727c6" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-bc85cb3d rmq-a125f677 rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#000000FF;font-size:40px;max-width:100%;text-align:center;font-weight:800;line-height:57px;margin-bottom:16px;letter-spacing:-0.6px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p><span style="color: inherit">Try Today...Get a FREE BAMBOO ITEM when you buy 2 other!</span></p></span></div><div data-rid="fbd0acf8-e0a8-461d-b6b5-1645799abf6f" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2d8d9f57 rmq-a125f677 rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#000000FF;font-size:48px;max-width:100%;text-align:center;font-weight:800;line-height:57px;margin-bottom:16px;letter-spacing:-0.6px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p><br></p></span></div></div><div data-rid="4d4e5ff9-5fa9-44b5-9303-7ebaa065f823" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:4px;column-gap:4px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-c2bd6afe rmq-d1632c1c rmq-31a1a7a9 rmq-dc3c3a94" data-radium="true"><div data-rid="3770e715-e324-4e09-b65b-2d6ceb8c44da" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#000000FF;font-size:16px;font-weight:800;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Sale Ends In</p><p></p></span></div><div data-rid="7e58098d-10f2-44a9-9897-83354aa0d895" data-replo-repeated-index=".0.0.0.0.0.0" style="color:#000000FF;width:100px;display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:flex-start;flex-shrink:0;flex-basis:auto;row-gap:2px;column-gap:2px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-46a38ffe rmq-80b7b11c rmq-cb86cca9 rmq-dce6ff94" data-radium="true"><div data-rid="e13c7a7f-6cbd-4223-bbf2-2ce6a59013e9" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;font-weight:700;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true">23</span></div><div data-rid="69ced25a-ddf5-4c37-bdaf-61e6b21ababd" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>:</p></span></div><div data-rid="e5c39128-6765-4606-a208-93aa95dd2003" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;font-weight:700;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true">59</span></div><div data-rid="9af7393e-ddf0-422d-8b94-da134d45b52f" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>:</p></span></div><div data-rid="54255803-8751-4274-9300-98a1d47fafa5" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;font-weight:700;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true">59</span></div></div></div><div data-rid="931e48bc-4be3-4e56-8891-796e38fa2af7" data-replo-repeated-index=".0.0.0.0.0" class="rmq-c1a45861 rmq-3f72b9a3 rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#000000;font-size:18px;text-align:center;font-weight:400;line-height:30px;margin-bottom:16px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p><br></p><p></p></span></div><div data-rid="8f88b73f-c6ff-458d-b419-39c6a247e90a" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;flex-direction:column;width:90%;height:0px;margin-bottom:16px;border-top-color:rgb(204, 204, 204);border-top-style:solid;border-top-width:1px;flex-shrink:0;flex-basis:auto" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"></div><div data-rid="e1e6590d-8f78-4528-b9ac-f08df75a4b26" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:20px;column-gap:20px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-fb47263a rmq-df9f9abc rmq-34e58409 rmq-3ac5a8b4" data-radium="true"><div data-rid="83f5dc15-cb1f-4440-a554-d0d0849d6f58" data-replo-repeated-index=".0.0.0.0.0.0" style="width:440px;height:440px;flex-shrink:0;flex-basis:auto" class="rmq-38324207 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><video width="100%" playsinline autoplay muted loop poster="https://res.cloudinary.com/dnhili0jf/video/upload/v1684530355/Copy_of_Website_Style_Study_1_fg0jxt.mp4">
<source src="https://res.cloudinary.com/dnhili0jf/video/upload/v1684530355/Copy_of_Website_Style_Study_1_fg0jxt.mp4" type="video/mp4">
</video></div><div data-rid="e50eac74-0338-4581-81ae-0e1f470909d0" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-grow:1;max-width:100%;align-self:stretch;flex-basis:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-9a810c09 rmq-a8b2cf01 rmq-fc52f14 rmq-29c6a209" data-radium="true"><div data-rid="5d438457-3f1b-4e19-8d3f-38108865bd68" data-replo-repeated-index=".0.0.0.0.0.0.0" style="display:flex;max-width:100%;align-items:center;margin-bottom:10px;justify-content:flex-start;flex-shrink:0;flex-basis:auto;row-gap:8px;column-gap:8px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-44a7cdfe rmq-25062f1c rmq-f9a50aa9 rmq-9b72fd94" data-radium="true"><div data-rid="1981b0be-8fc3-4f07-8727-4d4537861a34" data-replo-repeated-index=".0.0.0.0.0.0.0.0" style="line-height:100%;color:#3D348BFF;width:22px;height:22px;flex-shrink:0;flex-basis:auto;--rsw:100%" data-testid="icon-checkCircleFill" class="rmq-1fbd8556 rmq-969c156 rmq-1f47714 rmq-4a86ea09" data-radium="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" style="width:var(--rsw, 100%);height:100%"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="4c6c58a8-5441-4bf2-ab12-0b7219889bb3" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#010101;font-size:14px;font-weight:700;line-height:24px;letter-spacing:-0.6px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>100% Money-Back, no questions asked&nbsp;</p><p>Return Policy</p><p></p></span></div></div><div data-rid="27660b8e-6a6a-48a6-a6c2-6cee3706b48a" data-replo-repeated-index=".0.0.0.0.0.0.0" style="display:flex;max-width:100%;align-items:center;margin-bottom:20px;justify-content:flex-start;flex-shrink:0;flex-basis:auto;row-gap:8px;column-gap:8px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-44a7cdfe rmq-25062f1c rmq-f9a50aa9 rmq-9b72fd94" data-radium="true"><div data-rid="767fd4d9-be04-4d05-8d73-779ca78f1775" data-replo-repeated-index=".0.0.0.0.0.0.0.0" style="line-height:100%;color:#3D348BFF;width:22px;height:22px;flex-shrink:0;flex-basis:auto;--rsw:100%" data-testid="icon-checkCircleFill" class="rmq-1fbd8556 rmq-969c156 rmq-1f47714 rmq-4a86ea09" data-radium="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" style="width:var(--rsw, 100%);height:100%"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="e70c3e0c-bcc5-4180-971d-e139de542524" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#010101;font-size:14px;font-weight:700;line-height:24px;letter-spacing:-0.6px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Limited Time Offer</p><p></p></span></div></div><div data-rid="b7f0cffe-29f7-48b6-abdf-d6edd891478d" data-replo-repeated-index=".0.0.0.0.0.0.0" style="width:100%;display:flex;max-width:300px;align-self:center;margin-top:20px;align-items:center;justify-content:space-between;flex-shrink:0;flex-basis:auto;row-gap:8px;column-gap:8px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-44a7cdfe rmq-25062f1c rmq-f9a50aa9 rmq-9b72fd94" data-radium="true"><div data-rid="bbe7cd7e-d707-40ea-86bb-29a21e8c66f7" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#010101;font-size:14px;font-weight:700;line-height:24px;letter-spacing:-0.6px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>SELL-OUT RISK:<span style="color: #FF0000FF"> HIGH</span></p><p></p></span></div><div data-rid="bd2b1e51-c7d2-40e6-b871-e5864b2e2e98" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#252525;font-size:14px;font-weight:400;line-height:24px;letter-spacing:-0.6px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>FREE SHIPPING</p></span></div></div></div></div><button data-rid="a1731809-9ea0-4639-8976-7e125091fa8d" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="link" class="rmq-782c8439 rmq-9788d9db rmq-e3e5ac0e rmq-efd51653 text alchemy-rte" style="align-self:stretch;padding-top:20px;padding-left:32px;padding-right:32px;padding-bottom:20px;background-color:#D12837;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;overflow:hidden;flex-shrink:0;flex-basis:auto;cursor:pointer" data-radium="true"><a href="https://bumsandroses.com/discount/BUY2GET1?redirect=%2Fcollections%2Ffooties%2Fproducts%2Fserial-chiller-footie" data-rid="f09fdbfd-9e90-4006-988c-87135e497525" data-replo-repeated-index=".0.0.0.0.0.0" tabindex="0" role="link" class="rmq-4d3351a4 rmq-9bb6c93c rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#FFFFFF;font-size:20px;text-align:center;font-weight:600;line-height:20px;letter-spacing:-0.6px;text-align-last:center;flex-shrink:0;flex-basis:auto;cursor:pointer;overflow-wrap:break-word" target="_top" contenteditable="false" data-radium="true"><p>SHOP NOW</p><p></p></a></button></div><div data-rid="06af999f-6db5-4472-812b-1e97492a544e" data-replo-repeated-index=".0.0.0.0" style="flex-shrink:0;flex-basis:auto" class="rmq-e0d6f3e6 rmq-dd0ea640 rmq-1f47714 rmq-4a86ea09" data-radium="true"><div id="stamped-main-widget"></div></div></div></div></div></div></div></div>

    <script id="replo-deps-element-id" data-id="94788780200"></script>
  
    </div>
