<div class="page-width page-content">

  {%- include 'breadcrumbs' -%}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>

      <div class=“klaviyo-form-Y9egwT”></div>

      <div class="rte rte--nomargin">
        <!-- YOTPO LOYALTY CODE -->
        	<style>
              @media (min-width: 769px){
                /* This is to fix the 1024px narrow container */
                .medium-up--push-one-eighth{ 
                	left: unset !important;
                  	width: 100% !important;
                }
              }
        	</style>
{% include 'klaviyo_sms_subscription_form_embed_Y9egwT' %}
        <!--  {% include 'smsbump_subscription_form_embed_70628' %} -->
        <!-- YOTPO LOYALTY CODE -->
      </div>

    </div>
  </div>

</div>
