<div class="gift-page">
  <h1>Looks like you've landed in the wrong place.</h1>
  <a href="/">Continue Shopping</a>
</div>
<style>
  .main-content {
    min-height: 0 !important;
  }

  .gift-page {
    padding: 15%;
    text-align: center;
    color: white;
    background: #C0A0B4;
    color: white;
  }

  .gift-page a {
    text-decoration: none;
    background: white;
    color: black;
    padding: 8px 16px;
    margin-top: 16px;
    display: inline-block;
  }
</style>